<h3>Sinatra's Best Songs</h3>
<ol>
  <li><%= @one %></li>
  <li><%= @two %></li>
  <li><%= @three %></li>
  <li><%= @four %></li>
  <li><%= @five %></li>
</ol>
<button type="submit" class="btn"><a href="/leave_comment">Leave Comment</a></button>
